# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Environments
.env
.venv/
venv/
env/

# SQLite DB
users.db

# Telethon session
*.session

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Build artifacts
dist/
build/
*.egg-info/
